POSTGRES_CONTAINER_NAME=kc-postgres
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak
POSTGRES_PORT=5432
POSTGRES_HOST=keycloak-db
POSTGRES_DATA_PATH=./postgres-data

KEYCLOAK_CONTAINER_NAME=keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080
KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_THEME_PATH=./keycloak-themes
KEYCLOAK_THEME_NAME=blog-theme

BLOG_CONTAINER_NAME=blog-service
BLOG_SERVICE_IMAGE=your-blog-service-image
BLOG_SERVICE_PORT=8000

NGINX_CONTAINER_NAME=nginx
NGINX_PORT=80
